<div>
    {{#with program}}
    <main>
        <div> {{> title data='Program' big=true}} </div>
        <br>
        {{#each this}}
        <div>
            <h2>{{name}}</h2>
            {{#with location}}
            <p>
                Summer trip 2023 to {{city}}, {{country}}!
            </p>
            {{/with}}

            <div>
                <em>Tour starts on {{date}}</em>
            </div>
            <br>
          
            {{#each program}}
            <div>
                <ul>
                    <li><b>{{name}}:</b> {{type}} ({{duration}} hours)</li>
                    
                    {{#with details}}

                    {{#if museum}}
                    <br>
                    <b>{{museum.name}}</b>
                    {{/if}}
                    {{#with museum}}
                    {{#with location}}
                    <address>{{address}}, {{city}}, {{country}}</address>
                    {{/with}}
                    
                    <div>
                        <p>
                            Opportunity to visit famous exhibits like...
                        </p>
                    </div>
                    {{#each exhibits}}
                    <br>
                    <ul>
                    <li>
                        "{{name}}",
                        {{#if artist}}
                        {{artist}}: {{description}}
                        {{else}}
                        {{description}}
                        {{/if}}
                        {{#if audio_guide}}
                        <div><em>Audio guide included</em></div>
                        {{/if}}
                    </li>
                    </ul>
                                        
                    
                    {{/each}}
                   
                    {{/with}}
                    

                    
                    {{#if venue}}
                    <br>
                    <b>{{venue.name}}</b>
                    {{/if}}
                    {{#with venue}} 
                                                                               
                    {{#with location}}
                    <div>
                        <address>
                            {{address}}, {{city}}, {{country}}
                        </address>
                    </div>
                    {{/with}}
                    
                    {{/with}}

                    
                    {{#each performers}}
                    <br>                    
                    <ul>
                        <li>{{name}} ({{type}})</li>
                    </ul>
                    {{/each}}
                    
                                  
                               
                    {{#with guide}}
                    <div><p>Your {{language}} Guide name is {{name}} ({{rating}} points)</p></div>
                    {{/with}}
                    </ul>                
                    {{/with}}
                
            {{/each}}
        {{/each}}
    </main>
    {{/with}}      
</div>

