<main>
    {{!-- Shoporder --}}
    <div class="h1 pt-3 pb-3">{{header}}</div>
        <div class="row g-2">
            <div class="col-8">
                <div class="h2 mb-3">{{contacts_data.title}}</div>
                {{!-- Buttons --}}
                
                    <div class="row">
                    {{#each contacts_data.buttons}}
                    {{#if isPrimary}}
                    <div class="col-4 mb-5"><a type="button" class="btn btn-warning text-light">{{text}}</a></div>
                    {{else}}
                    <div class="col-4 mb-5"><a type="button" class="btn btn-outline-warning">{{text}}</a></div>
                    {{/if}}
                    {{/each}}
                    </div>
                    
                    {{!-- Contacts Data --}}
                    {{#with contacts_data}}
                    {{#with form}}
                    {{#with input}}                    
                       
                    <div class="row">
                        <div class="col-6">                             
                            <div class="mb-3">                            
                                <label class="form-label">{{surname.label}}</label>
                                <input class="form-control"placeholder="{{surname.placeholder}}">
                                    <div class="form-text">{{surname.caption}}</div>                            
                            </div>                        
                                                        
                        </div>

                        <div class="col-6">                                                        
                            <div class="mb-3">
                                <label class="form-label">{{name.label}}</label>
                                <input class="form-control" placeholder="{{name.placeholder}}">
                                    <div class="form-text">{{name.caption}}</div>
                            </div>
                        </div> 
                        
                        <div class="col-6">                                                        
                            <div class="mb-3">
                                <label class="form-label">{{phone.label}}</label>
                                <input class="form-control" placeholder="{{phone.placeholder}}">
                                    <div class="form-text">{{phone.caption}}</div>
                            </div>
                        </div> 

                        <div class="col-6">                                                        
                            <div class="mb-3">
                                <label class="form-label">{{email.label}}</label>
                                <input class="form-control" placeholder="{{email.placeholder}}">
                                    <div class="form-text">{{email.caption}}</div>
                            </div>
                        </div>
                    </div>
                    {{/with}}
                    <hr class="ms-0 mt-3 mb-3">
                    <div class="row">
                        {{!-- Switch --}}
                        
                        <div class="mt-3 mb-3">
                            <div class="form-check form-switch">
                                {{#each switch}}
                                                       
                                <label class="form-label">{{text}}</label>
                                {{#if isActive}}
                                <input checked type="checkbox" class="form-check-input">
                                {{else}}                               
                                                               
                                <label class="form-label">{{text}}</label>
                                <input type="checkbox" class="form-check-input">                               
                                {{/if}}
                                {{/each}}
                            </div>
                        </div>
                    </div>
                    
                    {{/with}}
                    {{/with}}
                       
                    <hr class="ms-0 mt-3 mb-3">

                    {{!-- Delivery --}}
                    <div class="row mb-3">
                        {{#with delivery}}
                            <div class="h3">{{title}}</div>                       
                                    {{#each select}}                                                                      
                                        <div class="col">
                                            <div class="card">
                                        <div class="card-body">
                                            <label class="form-label">{{label}}</label>
                                            <select class="form-select">
                                                <option selected>{{placeholder}}</option>
                                                {{#each options}}
                                                <option>{{text}}</option>
                                                {{/each}}
                                            </select>
                                        </div>  
                                        </div>                                  
                                    </div>                             
                                    {{/each}}                  
                        {{/with}}
                    </div>
                    

                    {{!-- Delivery Type --}}
                    <div class="row">
                        {{#each delivery.delivery_type}}
                        <div class="row ms-1">
                            <div class="form-check">
                                <input type="radio" class="form-check-input">
                                <div class="row"><label class="form-check-label">{{type}}</label></div>
                                <div class="row"><label class="text-end">{{value}}</label></div>                                
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <hr class="ms-0 mt-3 mb-3">

                    {{!-- Payment --}}
                    {{!-- {{#with delivery}}
                    {{#with payment}} --}}
                    <div class="row">
                        <div class="col ms-1">
                            <div class="h3">Оплата</div>
                            {{#each delivery.payment}}
                            <div class="form-check">
                                <input type="radio" class="form-check-input">
                                <div class="row"><label class="form-check-label">{{type}}</label></div>
                                {{#if description}}
                                <div class="row"><label class="text-end">{{description}}</label></div>
                                {{/if}}
                            </div>
                            {{/each}}
                        </div>
                    </div>
                    {{!-- {{/with}}
                    {{/with}} --}}

                    <hr class="ms-0 mt-3 mb-3">

                    {{!-- Contact --}}
                     {{#with delivery}}
                        {{#with contact}}
                       <div class="row">
                        <div class="h3 mt-3 mb-3">{{title}}</div>
                        <div class="col-6">
                                                         
                            <div class="mb-3">                            
                                <label class="form-label">{{surname.label}}</label>
                                <input class="form-control"placeholder="{{surname.placeholder}}">
                                    <div class="form-text">{{surname.caption}}</div>                            
                            </div>                        
                                                        
                        </div>

                        <div class="col-6">                                                        
                            <div class="mb-3">
                                <label class="form-label">{{name.label}}</label>
                                <input class="form-control" placeholder="{{name.placeholder}}">
                                    <div class="form-text">{{name.caption}}</div>
                            </div>
                        </div> 
                        
                        <div class="col-6">                                                        
                            <div class="mb-3">
                                <label class="form-label">{{phone.label}}</label>
                                <input class="form-control" placeholder="{{phone.placeholder}}">
                                    <div class="form-text">{{phone.caption}}</div>
                            </div>
                        </div> 

                        <div class="col-6">                                                        
                            <div class="mb-3">
                                <label class="form-label">{{email.label}}</label>
                                <input class="form-control" placeholder="{{email.placeholder}}">
                                    <div class="form-text">{{email.caption}}</div>
                            </div>
                        </div>
                    </div>
                    <hr class="ms-0 mt-3 mb-3">
                    
                      {{#with ../coment}}
                      <div  class="row">
                        <div class="col">
                            <div class="h5"><label class="form-label">{{label}}</label></div>
                            <textarea class="form-control" rows="1" placeholder="{{placeholder}}"></textarea>
                        </div>
                      </div>
                      {{/with}}                      
                      {{/with}}
                    {{/with}} 
                    <hr class="ms-0 mt-3 mb-3">
                    
                    {{!-- Coupon --}}
                    
                    {{#with coupon}}
                    <div class="row">
                        <div class="h5">{{title}}</div>
                        {{#with select}}
                        <div class="mb-3">
                            <label class="form-label">{{availabel_coupon.label}}</label>
                            <select class="form-select">
                                <option selected>{{availabel_coupon.placeholder}}</option>
                                {{#each availabel_coupon.options}}
                                <option>{{text}}</option>
                                {{/each}}
                            </select>                                
                        </div>
                        <div class="mb-3">
                            <label class="form-label">{{friend_coupon.label}}</label>
                            <select class="form-select">
                                <option selected>{{friend_coupon.placeholder}}</option>
                                {{#each friend_coupon.options}}
                                <option>{{text}}</option>
                                {{/each}}
                            </select>                                
                        </div>
                        {{/with}}

                        {{#with add}}
                        <div class="row">
                            <div class="mb-3">
                                {{#with friend}}
                                <label class="form-label">{{label}}</label>
                                <textarea class="form-control" rows="1" placeholder="{{placeholder}}"></textarea>
                                <div class="form-text">{{caption}}</div>
                                {{/with}}
                            </div>
                            <div class="mb-3">
                                {{#with colleague}}
                                <label class="form-label">{{label}}</label>
                                <textarea class="form-control" rows="1" placeholder="{{placeholder}}"></textarea>
                                <div class="form-text">{{caption}}</div>
                                {{/with}}
                            </div>
                        </div>
                        {{/with}}
                    </div>
                    {{/with}}
                    <hr classs="ms-0 mt-3 mb-3">

                   {{#with quiz}}
                   <div class="row">
                    <div class="h6">{{title}}</div>
                    <div class="mb-3">
                        {{#with preference}}
                        <div>
                            <p>{{title}}</p>
                        </div>
                        {{#each options}}
                        <div class="form-check">                            
                            <label class="form-check-label">{{this}}</label>
                            <input type="checkbox" class="form-check-input">                         
                        </div>
                        {{/each}}
                        {{/with}}
                    </div>
                   </div>

                   {{#with your_expirience}}
                   <div class="row">                    
                    <div class="mb-3">
                        <label class="form-label">{{label}}</label>
                        <textarea class="form-control" rows="1" ></textarea>
                    </div>
                   </div>
                   {{/with}}
                   

                   {{#with purchase_frequency}}
                   <div class="row">                    
                    <div class="mb-3">
                        <label class="form-label">{{label}}</label>
                        <select class="form-select">
                                <option selected>{{placeholder}}</option>
                                {{#each options}}
                                <option>{{text}}</option>
                                {{/each}}
                            </select>

                    </div>
                   </div>
                   {{/with}}

                   {{#with factors}}
                   <div class="row">
                    <div class="h6">{{title}}</div>
                    <div class="mb-3">
                        {{#each options}}
                        <div class="form-check">
                            <label class="form-check-label">{{this}}</label>
                            <input type="checkbox" class="form-check-input">
                        </div>
                        {{/each}}
                    </div>
                   </div>
                   {{/with}}                   
                   {{/with}}                 
            
            </div>{{!-- End of Col-8 --}}

            {{!-- A.K.A. Aside --}}
            <div class="col-4"><div class="card mb-3">
                    <div class="card-body">
                        {{#each action_block}}
                        {{#if isPrimary}}
                        <div class="mb-2"><a type="button" class="btn btn-success">{{text}}</a></div>
                        {{/if}}
                        {{#if isDanger}}
                        <div class="mb-2"><a type="button" class="btn btn-danger">{{text}}</a></div>
                        {{/if}}
                         {{#if isInfo}}
                        <div><a type="button" class="btn btn-info text-light">{{text}}</a></div>
                        {{/if}}
                        {{/each}}
                    </div>
                    </div>
                    <div class="card">
                        <div class="h5 ps-3 pt-2">{{total.title}}</div>
                        <div class="card-body">
                            <div>
                                {{#each total.item_list}}
                                <p>{{name}}: {{price}}</p>
                                {{/each}}
                            </div>
                            <hr>
                            <div>
                                {{#each total.additional_info}}
                                <p>{{text}}: {{value}}</p>
                                {{/each}}
                            </div>
                            <hr>
                            <div>
                                <p>{{total.total_price.text}}: {{total.total_price.value}}</p>
                            </div>
                            <hr>
                            <div class="row g-2">
                                <div class="col">
                                {{#each total.button}}
                                {{#if isPrimary}}
                                <div class="mb-2"><a type="button" class="btn btn-primary">{{text}}</a></div>
                                {{else}}
                                <div><a type="button" class="btn btn-outline-info">{{text}}</a></div>
                                {{/if}}
                                {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>   
<div class="row">
    {{> shopfooter}}
</div>
</main>