<main> 
    {{!-- Navigation  --}}
    <div>
    {{#with navigation}}
    {{#if links}}
    {{#each links}}
    <a href="{{href}}" type="button" class="btn btn-link">{{text}}</a>
    {{/each}}    
    {{/if}}

    {{#with button}}    
    <a href="{{href}}" type="button" class="btn btn-primary">{{text}}</a>    
    {{/with}}
    {{/with}}    
    </div>
    <hr>
    {{!-- Header --}}
    <div>
        {{#with header}}
        <div class="h1">{{title}}</div>
        <p>{{description}}</p>
        {{#with button}}
        <a href="{{link}}" type="button" class="btn btn-primary">{{text}}</a>
        {{/with}}
    </div>
         {{/with}}

         {{!-- City title --}}
         {{#with city}}
    <section class="col-12">
        <div class="h2">{{title}}</div>
        {{/with}}

      
        <div class="row gy-2 gx-2">             
                 {{#each city.cards}}
            <section class="col-6">              
                     
                <div class="card-group h-100">
                    <div class="card h-100">
                    <img class="card-img-top" src="{{picture.src}}" alt="{{picture.alt}}">
                                        
                    <div class="card-body">                        
                        <h5 class="card-title">{{title}}</h5>                        
                       
                        <p>
                            {{description}}
                        </p>                  
                                              
                        <a href="{{button.href}}" class="btn btn-primary">{{button.text}}</a>  
                    </div>
                </div>
                                      
                </div>
            </section>
            {{/each}}               
    </section>
    
    
    <hr class="mt-5 mb-5">
    {{!-- Table --}}
    {{#with winner}}
    <div>
        <div class="h2 mb-3">{{title}}</div>
        {{#with table}}
        <table class="table table-bordered ms-3">
            {{#if head}}
            <thead class="table-light">                                
                <tr>
                    <th>{{head.[0]}}</th>
                    <th>{{head.[1]}}</th>
                    <th>{{head.[2]}}</th>
                    <th>{{head.[3]}}</th>
                    
                </tr>               
            </thead>
            {{/if}}
            
            {{#if user}}
            {{#each user}}
            <tbody>
                <tr>
                    <td>{{place}}</td>
                    <td>{{name}}</td>
                    <td>{{surname}}</td>
                    <td>{{nickname}}</td>               
                </tr>
                 
                {{/each}}
            </tbody> 
            {{/if}}        
        </table>
        {{/with}}
    </div>
    {{/with}}

    {{!-- Galery --}}
    <section>
        <div class="display-5 mb-3">{{gallery.title}}</div>
            
            <div class="row gx-2 gy-1">
            {{#each gallery.cards}}
            <section class="col-6">
            
            <div class="card text-bg-secondary">
                
                
            <div class="card-header">{{items.[0]}}</div>
           
            <div class="card-body">
                <h5 class="card-titel">{{name}}</h5>
                <p>{{items.[1]}}, {{items.[2]}}</p>
            </div>
            
            </div>
            
            </section>
            {{/each}}     
        </section>
        <hr class="mt-5 mb-5">
       {{!-- Relaxion --}}
        <section class="col-12">
        
            
            <div class="row gx-2 gy-1">
            {{#each relaxion.cards}}
            <section class="col-6">
            
            <div class="card-group h-100">
                <div class="card h-100">
            <div class="card-header text-center">{{header}}</div>
            <div class="card-body text-center">
                <h5 class="card-titel">{{title}}</h5>
                <p>{{description}}</p>
                {{#if button}}
                <a href="#" class="btn btn-primary">Go somewhere</a>
                {{/if}}
            </div>
            {{#if footer}}
            <div class="card-footer text-center">Footer</div>
            {{/if}}
            </div>
            </div>
            </section>
            {{/each}}
            </div>
            
        </section>
        {{!-- Rest --}}
         <section class="col-12">
        
            
            <div class="row gx-2 gy-1">
             {{#each rest.cards}}
            <section class="col-6">
           
            <div class="card">
            <div class="card-header text-center">{{header}}</div>
            <div class="card-body text-center">
                <h5 class="card-titel">{{title}}</h5>
                <p>{{description}}</p>
                {{#if button}}
                <a href="#" class="btn btn-primary">{{button}}</a>
                {{/if}}
            </div>
            {{#if footer}}
            <div class="card-footer text-center">{{footer}}</div>
            {{/if}}
           
            </div>
            </section>
             {{/each}}
            </div>
            
        </section>
        <hr class="mt-5 mb-5">
        {{!-- Proposition --}}
        <div class="display-2">{{proposition.title}}</div>

        <section class="col-12">
        
            
            <div class="row gx-3 gy-3">
            {{#each proposition.card}}
            <section class="col-6">
            
            <div class="card text-bg-warning text-light">
            <div class="card-header">{{header}}</div>
            <div class="card-body">
                <h5 class="card-titel">{{titel}}</h5>
                <p>{{description}}</p>
                
            </div>
            
            </div>
            </section>           
            {{/each}}
            </div>            
        </section>
        <hr class="mt-5 mb-5">

        {{!-- Footer --}}
        <div class="h5">{{footer.title}}</div>
        
        <div class="row">
        <div class="col">
            {{#each footer.navigation}}
            
        <div class="m-2">
            <a href="{{href}}" type="button" class="btn btn-link" >{{text}}</a>
                        
        </div>
        
        {{/each}}        
        </div>
       
        <div class="col">
            {{#each footer.socialMedia}}
        <div class="m-2">
            <a href="link" type="button" class="btn btn-outline-dark">{{name}}</a>            
        </div>
        {{/each}}
        </div>

        <div class="col">
            {{#each footer.partners}}
            <div class="m-2">             
            <a href="{{link}}" type="button" class="btn btn-outline-info">{{name}}</a>
        </div>
        {{/each}}
        </div>
        </div>
</main>