{{!-- 
  Це леяут по замовчюванню, котрий вже містить базову структуру HTML документа
  І котрий обгортає код container файлів для будь-яких ендпоїнтів
--}}
<!DOCTYPE html>
<html>

  <head>
    <title>
      {{page.title}}
    </title>
    <meta charset='utf-8' />
    <link href='css/index.css' rel='stylesheet' />
  </head>

  <body>
    {{> nav}}
    <br>
    <hr>
    {{!  ↓  ця кострукція показує куди шаблонізатору треба вставляти код з container файлу   --}}
    {{{body}}}

    <br>
    <hr>

    <footer>
      {{> footer}}
        {{!-- {{#with footer}}
        <div>
           {{#with social}}
             <div>
              
              <div>
                <address>Email me: {{> link text=email.text href=email.href blank=true}}</address>
              </div>          
            
             </div>
             <div>
              
              <div>
                <address>Call me: {{> link text=mobilephone.text href=mobilephone.href blank=true}}</a></address>
              </div>
             
             </div>
             <div>
              
              <div><address>Let's Connect: {{> link text=linkedin.text href=linkedin.href blank=true}}</a></address></div>
              
             </div>  
             <div>
              
              <div><address>Explore my Projects: {{> link text=projects.text href=projects.href blank=true}}</a></address></div>
              
             </div>         
       
             {{/with}} 
        </div>
        <br/>
        <div>
           
            <em>Copyright by {{../header/name.firstname}} {{../header/name.lastname}} </em>
            
        </div>
        <br/>
        <div>                
                <address>
                  <div>{{../header/address}}</div>
                </address>                
            </div>         --}}
    </footer>
    {{!-- {{/with}} --}}

  </body>

</html>